body {
  background-color: black;
}

#hero {
  background-image: url(images/hero2.jpg);
  background-size: cover;
  width: 100%;
  background-position: center;
  height: 400px;
}

.glass {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}

#hero h2 {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

.hero-text {
  padding-top: 100px;
  padding-bottom: 100px;
}

.trendingCol {
  width: 405px;
}

.type-writer {
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}

@keyframes blink {
   from{
       opacity: 0%;
    }
    to{
        opacity: 100%;
     }
}
.type-writer::after{
    content: "|";
animation: blink 1s infinite;
}
.type-writer > span{
}

.search-form {
  max-width: 1000px;
  margin: auto;
  width: 50%;
}

.output-text {
  margin: auto;
  width: 50%;
}
